<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jimmy.cornalarmclock">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".context.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".ui.home.HomeActivity"
            android:label="玉米闹钟"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.NewClockActivity"
            android:label="玉米闹钟"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent.holo"></activity>

        <receiver
            android:name=".broadcast.AlarmClockBroadcast"
            android:process=":daemon">
            <!--广播定义单独进程，在6.0上接受不到，不定义进程退到后台也接受不到。-->
            <!--广播和后台运行的服务保持在一个线程，只要服务不死，这样就都可以接受到广播了-->
        </receiver>
    </application>

</manifest>